.fae {
    height: 500px;
}

.post-page {
    display: flex;
    flex: wrap;

    .post-page-aside {
        flex: 1;
        margin-top: 100px;
        background-color: aliceblue;

        .post-toc {
            position: sticky;
            top: 20px;
        }

        .btn-top {
            position: fixed;
            bottom: 0;
            right: 0;
        }
    }
}

#post {
    max-width: 720px;
    box-sizing: border-box;

    .post-title {
        font-size: 2rem;
        margin: 0;
    }

    .post-date {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        gap: 1em;
        margin-top: 1em;
        font-size: .75rem;
        color: var(--mat-sys-secondary);
    }
}

.tags {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 2em;

    .tag {
        border: 1px solid;
        padding: 5px 10px;
    }
}