<article id="post">
    <header class="post-header">
        <h1 class="post-title">{{ post().title }}</h1>

        <div class="post-date">
            <span>發布日期：{{ post().date | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
            @if (post().lastmod) {
                <span>最後更新日期：{{ post().lastmod | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
            }
        </div>
    </header>

    <!-- @if (post().toc) { -->
        <post-toc [contentElement]="content"></post-toc>
    <!-- } -->

    <section #content [innerHTML]="postContent()"></section>

    <ul class="tags">
        @for (tag of post().tags; track tag) {
        <li class="tag">
            <a [routerLink]="['/post-tag', tag]">{{ tag }}</a>
        </li>
        }
    </ul>
</article>