.posts {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1em;
    padding: 1em;
}

.post {
    width: calc(33.3333% - 1em);
}

@media (max-width: 768px) {
    .post {
        width: calc(50% - 1em);
    }
}

@media (max-width: 480px) {
    .post {
        width: 100%;
    }
}