.post-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 1px solid;
    overflow: hidden;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
}

.post-card-action {
    position: absolute;
    inset: 0;
}

.post-card-content {
    margin-top: auto;
    padding: 2em 1em;
    box-sizing: border-box;
    color: var(--mat-sys-surface);
    background: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(255, 255, 255, 0));
}

.post-card-content .post-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.post-card-content .post-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0;
    max-height: 0px;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.post-card:hover .post-content {
    opacity: 1;
    max-height: 100px;
    margin-top: 1em;
}