.post-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border-style: solid;
    background-color: var(--mdc-outlined-card-container-color, var(--mat-sys-surface));
    border-radius: var(--mdc-outlined-card-container-shape, var(--mat-sys-corner-medium));
    border-width: var(--mdc-outlined-card-outline-width, 1px);
    border-color: var(--mdc-outlined-card-outline-color, var(--mat-sys-outline-variant));
    box-shadow: var(--mdc-outlined-card-container-elevation, var(--mat-sys-level0));
    overflow: hidden;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
}

.post-card-action {
    position: absolute;
    inset: 0;
}

.post-card-content {
    margin-top: auto;
    padding: 2em 1em;
    box-sizing: border-box;
    color: var(--mat-sys-surface);
    background: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(255, 255, 255, 0));
}

.post-title {
    margin: 0;
}

.post-content {
    opacity: 0;
    max-height: 0px;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.post-card:hover .post-content {
    opacity: 1;
    max-height: 100px;
    margin-top: 1em;
}